.signInPage {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 40px;
    height: 100%;
}

@media (max-height: 700px) {
    .signInPage {
        padding-top: 40px;
    }
}

.formSignIn {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.formSignIn input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.formSignIn input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.formSignIn button {
    margin-top: 20%;
}