.error {
    border-color: red;
    z-index: 1;
}

.checkbox {
    margin-right: 1%;
}

.formControlCustom {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.formControlCustom:focus {
    z-index: 4;
}

.errorCheckbox {
    animation: errorCheckBoxFrame 0.5s;
}

@keyframes errorCheckBoxFrame {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1.2);
    }

    0% {
        transform: scale(1);
    }
}