@import "../common/Styles/Flexing.module";

.profile {
  margin: 10px 10px 0 10px;
  padding-bottom: 10px;
  border: 1px solid #e7e8ec;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  }
}

.mediaData, .infoData, .contactData {
  height: 100%;
}

.label {
  color: #4F4F4F;
}

.mediaData {
  height: 100%;
  @include flexing(column, wrap, center, center);

  .avatar {
    @include flexing(row, wrap, center, center);
    max-width: 250px;
    height: 250px;

    img {
      width: 95%;
      height: 95%;
    }
  }
}

.infoData {
  @include flexing(column);
  margin-left: 10px;

  .fullName {
    margin: 10px 10px 10px 0;
    @include flexing(column);

  }

  .surname {
  }

  .namePatronymic {

  }

  .directionSpecialitySpecialization {
    margin: 0 10px 10px 0;
    @include flexing(column);
  }

  .ratingAndCommentCounterBox {
    margin-top: 28px;
  }
}

.contactData {
  @include flexing(column);

  .organization {
    margin: 10px;
  }

  .address {
    margin: 0 10px 10px 10px;
  }

  .contacts {
    @include flexing(column);
    margin: 0 10px 10px 10px;
  }

  .socialShare span {
    cursor: pointer;
    margin: 3px;
  }

  .socialShare span svg {
    height: 1.5em;
    width: 1.5em;
  }

  .socialShare span {

    &:hover {
      color: #afafaf;
    }
  }

  .lastMonthReviews {
    margin: auto 10px 5px;
  }
}


