.profilesMainBlock {
  width: 100%;
  margin: 15px 0 15px 0;
}

.headers {
  width: 100%;
  margin: 10px 10px 0 10px;;
}

.sorts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.profilesMainBlock__filters_margin {
  margin: 15px 10px 10px 5px;
}


.profilesMainBlock__profilesList_margin {
  margin-top: 8px;
  padding-bottom: 20px;
}
