.TelephoneButton {
  height: 44px;
  font-size: 16px;
  line-height: 42px;
  font-weight: 600;

  background-color: #5cda6c;
  border: none;
  outline: none;

  &:hover{
    background-color: #41c151;
  }
  &:active{
    background-color: #1c902b;
  }

  //media 520
  @media screen and (max-width: 520px) {
    height: auto;
    line-height: 28px;
  }
}

.text {
  margin-left: 8px;
}
