.commonNavBar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.displayNone {
    display: none;
}


/*Top NavBar*/
.topNavBar {
    height: 76px;
    transition: opacity 1s ease;
}

.hide {
    /*display: none;*/
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    transition: height 0.5s ease 0.2s,
    opacity 1s ease;
}

@media (max-width: 991px) {
    .searchForm {
        margin-top: 20px;

    }

    .geo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/* Bottom navBar */

.bottomNavBar {
    background-color: rgb(50, 148, 63);
}

.container {
}

.allCategories {

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bottomNavBar li a:hover {
    background-color: #111;
}

